version: '3'

services:
  moovelabs:
    container_name: moovelabs-site
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=production
